In [1]:
import pandas as pd

In [13]:
synonyms = pd.read_csv('./synonyms.csv')
synonyms.head()

         lemma part_of_speech                             synonyms
0  .22-caliber      adjective  .22 caliber;.22 calibre;.22-calibre
1  .22-calibre      adjective  .22 caliber;.22-caliber;.22 calibre
2  .22 caliber      adjective  .22-caliber;.22 calibre;.22-calibre
3  .22 calibre      adjective  .22 caliber;.22-caliber;.22-calibre
4  .38-caliber      adjective  .38 caliber;.38 calibre;.38-calibre

In [14]:
synonyms.describe()

,lemma,part_of_speech,synonyms
count,126998,127001,126999
unique,117203,5,108544
top,right,noun,Dostoyevsky;Dostoevski;Dostoevsky;Feodor Dosto...
freq,5,94600,15

In [20]:
synonyms = synonyms[synonyms['lemma'].str[0].str.isalpha() == True].reset_index(drop=True)
synonyms.head()

    lemma part_of_speech                                           synonyms
0    a-ok      satellite                                             a-okay
1  a-okay      satellite                                               a-ok
2   a-one      satellite  ace;A-one;crack;first-rate;super;tiptop;topnot...
3    a.m.      satellite                                      ante meridiem
4    a.m.         adverb                                 ante meridiem;A.M.

In [31]:
types = synonyms['part_of_speech'].unique()
types

array(['satellite', 'adverb', 'verb', 'adjective', 'noun'], dtype=object)

In [32]:
satellite = synonyms[synonyms['part_of_speech'] == 'satellite']
adverb = synonyms[synonyms['part_of_speech'] == 'adverb']
verb = synonyms[synonyms['part_of_speech'] == 'verb']
adjective = synonyms[synonyms['part_of_speech'] == 'adjective']
noun = synonyms[synonyms['part_of_speech'] == 'noun']